.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home-page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: white;
    align-items: center;
}

#home-page-button {
    color: rgb(158, 78, 78);
    background-color: white;
    width: 45vw;
    font-size: calc(5px + 2vmin);
    border-radius: 30px;
    border-color:white;
}

#home-page-header {
    color: white;
    font-size: calc(70px + 2vmin);
}

#home-page-label {
    color: white;
    font-size: calc(10px + 2vmin);
    font-style: italic;
}